<h1>Users</h1>

<table>
  <thead>
    <tr>
    <th class="headers">Photo</th>
      <th class="headers">Name</th>
      <th class="headers">Number of posts</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
      <td><img src="<%= user.photo %>"></td>
        <td><a href="users/<%= user.id %>"><%= user.name %></a></td>
        <td><%= user.posts.length %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>