<h1>Users</h1>

<table>
  <thead>
    <tr>
    <th>Photo</th>
      <th>Name</th>
      <th>Bio</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
      <td><%= user.photo %></td>
        <td><%= user.name %></td>
        <td><%= user.bio %></td>
        <td><%= link_to "Show", user %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>